@import "variables";
@import "bucles";

body {
    background-color: $crema;
    background-image: url("../images/fondo.png");
    background-size: 50vw;
    background-position: 25% 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

/* Estilo para cada título de cada página */
.tituloPag {
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    margin: 4vw auto 8vw auto;
    grid-area: subtitulo;
}
/* Estilo del header */
header {
    grid-area: header;
    /* Estilo del enlace del título de la página */
    a {
        text-decoration: none;
        color: $vinotinto;
        :hover {
            color: $vinotinto;
        }
    }
    .logoConTitulo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 4vw;
    }
    /* Estilo del logo de la página */
    .logoConTitulo__logo {
        height: 100px;
    }
    /* Estilo del título de la página */
    .logoConTitulo__titulo {
        font-size: 100px;
        text-align: center;
        color: $vinotinto;
        font-weight: normal;
    }
}
/* Estilo del footer */
footer {
    text-align: center;
    font-size: 12px;
    background-color: $vinotinto;
    color: $crema;
    height: fit-content;
    grid-area: footer;
    p {
        margin: 10px;
    }
}
/* Estilo de la barra de navegación */
nav {
    margin: 0 auto 2vw;
    grid-area: nav;
}
/* Estilo de navegación de bootstrap */
.navbar {
    font-size: 20px;
    text-transform: uppercase;
    .navbar-toggler {
        margin: 0 auto;
        border: none;
    }
    #navbarNav {
        justify-content: center;
        margin-top: 2vw;
        .nav-item {
            margin: 0.5vw;
            .nav-link {
                text-align: center;
            }
        }
    }
}
/* Estilo de los textos de las páginas */
.textoSeccion {
    padding: 3vw;
}
/* Estilo para cada subtítulo de cada página */
.textoSeccion__titulo {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 2vw;
    text-align: center;
}
.textoSeccion__texto {
    font-size: 18px;
    line-height: 150%;
}
/* Estilo de las imágenes en las páginas */
.imagenSeccion {
    padding: 3vw;
    img {
        width: 100%;
        display: block;
    }
}
.imagenSeccion--full {
    padding: 0;
}
/* Estilo de la página "Home" */
#bodyHome {
    display: grid;
    grid-template-areas: 
        "header"
        "nav"
        "descripcion"
        "imagenesHome"
        "footer";
        #descripcionSitio {
            grid-area: descripcion;
            margin-top: 3vw;
            margin-bottom: 6vw;
            p {
                font-size: 20px;
                text-align: center;
                padding: 0 3vw;
            }
        }
        #bannersHome {
            grid-area: imagenesHome;
            display: grid;
            a {
                text-decoration: none;
            }
            div {
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                position: relative;
                height: 50vw;
                width: 95%;
                margin: 20px auto;
                display: flex;
                align-items: center;
                justify-content: center;
                h2 {
                    font-size: 50px;
                    color: $crema;
                    margin-bottom: 0;
                    position: relative;
                }
            }
            div::before {    
                content: "";
                background-size: cover;
                position: absolute;
                top: 0px;
                right: 0px;
                bottom: 0px;
                left: 0px;
                background-color: rgba(0, 0, 0, 0.35);
          }
            #bannerRestaurante {
                background-image: url(../images/banner_restaurante.png);
            }
            #bannerEventos {
                background-image: url(../images/banner_eventos.png);
            }
            #bannerCatering {
                background-image: url(../images/banner_catering.png);
            }
        }
}
/* Estilo de la página "Nosotros" */
#bodyNosotros {
    display: grid;
    grid-template-areas: 
        "header"
        "nav"
        "subtitulo"
        "txtHistoria"
        "imgHistoria"
        "txtMision"
        "imgMision"
        "footer";
    grid-template-columns: 100%;
    #txtHistoria {grid-area: txtHistoria;}
    #imgHistoria {grid-area: imgHistoria;}
    #txtMision {grid-area: txtMision;}
    #imgMision {grid-area: imgMision;}
}
/* Estilo de la página "Servicios" */
#bodyServicios {
    display: grid;
    grid-template-areas: 
        "header"
        "nav"
        "subtitulo"
        "txtRestaurante"
        "imgRestaurante"
        "txtEventos"
        "imgEventos"
        "txtCatering"
        "imgCatering"
        "footer";
    grid-template-columns: 100%;
    #txtRestaurante {grid-area: txtRestaurante;}
    #imgRestaurante {grid-area: imgRestaurante;}
    #txtEventos {grid-area: txtEventos;}
    #imgEventos {grid-area: imgEventos;}
    #txtCatering {grid-area: txtCatering;}
    #imgCatering {grid-area: imgCatering;}
}
/* Estilo de la página "Menu" */
#bodyMenu {
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "subtitulo"
        "tituloMenu"
        "entradasMenu"
        "platosMenu"
        "postresMenu"
        "bebidasMenu"
        "footer";
    #entradasMenu {grid-area: entradasMenu;}
    #platosMenu {grid-area: platosMenu;}
    #postresMenu {grid-area: postresMenu;}
    #bebidasMenu {grid-area: bebidasMenu;}
    .titulosMenu {
        font-size: 32px;
        text-align: center;
        margin-bottom: 3vw;
    }
    /* Estilo del carousel del menú */
    .carousel {
        margin: 3vw auto;
        width: 100%;
        .carousel-caption {
            background-color: rgba(0, 0, 0, 0.25);
            border-radius: 1vw;
        }
        h5 {
            font-size: 24px;
        }
        p {
            font-size: 18px;
        }
        .carousel-control-prev-icon {
            background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2356070e'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
        }
        .carousel-control-next-icon {
            background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2356070e'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");
        }
    }
}
/* Estilo de la página "Contacto" */
#bodyContacto {
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "subtitulo"
        "formulario"
        "datosContacto"
        "mapaContacto"
        "footer";
    grid-template-columns: 100%;
    #mapaContacto {
        grid-area: mapaContacto;
        display: block;
        margin-top: 3vw;
        iframe {
            width: 100%;
            height: 80vw;
        }
    }
    #datosContacto {
        grid-area: datosContacto;
        background-color: $vinotinto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 3vw;
        div {
            color: $crema;
            font-size: 18px;
            text-align: center;
        }
    }
    /* Estilos del formulario */
    #formularioContacto{
        grid-area: formulario;
        margin: 20px auto;
        padding: 10px;
        width: 95%;
        line-height: 16px;
        background-color: $vinotinto;
        color: $crema;
        font-size: 16px;
        input, textarea {
            width: 100%;
            padding: 4px;
            margin: 5px 0;
        }
        label {
            margin: 10px 0;
            font-weight: bold;
        }
        textarea {
            height: 200px;
        }
        #subscripcion {
            width: auto;
            height: 12px;
        }
    }
}
/* Estilo para diapositivos de ancho mayor a 600px */
@media only screen and (min-width: 600px) {
    #bodyHome {
        #bannersHome {
            div {
                height: 20vw;
                h2 {
                    font-size: 50px;
                }
            }
        }
    }    
    #bodyMenu {
        grid-template-areas:
            "header header"
            "nav nav"
            "subtitulo subtitulo"
            "tituloMenu tituloMenu"
            "entradasMenu platosMenu"
            "postresMenu bebidasMenu"
            "footer footer";
        grid-template-columns: 50% 50%;
        .carousel {
            .carousel-caption {
                background-color: rgba(0, 0, 0, 0.25);
                border-radius: 0.5vw;
                right: 0;
                bottom: 0;
                left: 0;
                padding: 2vw;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            .carousel-indicators {
                margin-bottom: 0;
            }
            h5 {
                font-size: 24px;
            }
            p {
                font-size: 16px;
            }
        }
    }
}
/* Estilo para diapositivos de ancho mayor a 992px */
@media only screen and (min-width: 992px) {
    .tituloPag {
        font-size: 60px;
        margin: 2vw auto 4vw auto;
    }
    header {
        .logoConTitulo {
            margin-top: 2vw;
        }
    }
    .navbar {
        #navbarNav {
            .nav-item {
                margin: 0 4vw;
            }
        }
    }
    .textoSeccion {
        padding: 1.5vw;
    }
    .textoSeccion__titulo {
        font-size: 48px;
        margin-bottom: 1vw;
        text-align: left;
    }
    .textoSeccion__texto {
        line-height: 2vw;
    }
    .imagenSeccion {
        padding: 1.5vw;
    }
    .imagenSeccion--full {
        padding: 0;
    }
    #bodyHome {
        #descripcionSitio {
            margin-top: 1.5vw;
            margin-bottom: 3vw;
            p {
                font-size: 24px;
            }
        }
        #bannersHome {
            div {
                h2 {
                    display: none;
                    font-size: 80px;
                }
            }
            div::before {
                background-color: rgba(0, 0, 0, 0);
                transition: background-color 2s;
            }
            div:hover {
                background-color: rgba(0, 0, 0, 0.35);
                h2 {
                    display: block;
                }
            }
            div:hover::before {
                background-color: rgba(0, 0, 0, 0.35);
                
            }
        }
    }
    #bodyNosotros {
        grid-template-areas: 
            "header header"
            "nav nav"
            "subtitulo subtitulo"
            "txtHistoria imgHistoria"
            "imgMision txtMision"
            "footer footer";
        grid-template-columns: 50% 50%;
    }
    #bodyServicios {
        grid-template-areas: 
            "header header"
            "nav nav"
            "subtitulo subtitulo"
            "imgRestaurante txtRestaurante"
            "txtEventos imgEventos"
            "imgCatering txtCatering"
            "footer footer";
        grid-template-columns: 50% 50%;
    }
    #bodyMenu {
        .titulosMenu {
            font-size: 42px;
            margin-bottom: 1.5vw;
        }
    }
    .carousel {
        margin: 1.5vw auto;
        width: 90%;
        .carousel-caption {
            padding: 1vw;
        }
    }
    #bodyContacto {
        grid-template-areas:
            "header header"
            "nav nav"
            "subtitulo subtitulo"
            "formulario formulario"
            "mapaContacto datosContacto"
            "footer footer";
        grid-template-columns: 75% 25%;
        #mapaContacto {
            margin-top: 1.5vw;
            iframe {
                height: 40vw;
            }
        }
        #datosContacto {
            margin-top: 1.5vw;
            height: 40vw;
        }
        #formularioContacto{
            width: 50%;
        }
    }
}